<div class="well" ng-controller="authCtrl">
  <div class="alert alert-info" ng-show="authenticationError">
    Enter your username and password and click Log In to authenticate.
  </div>

  <div class="alert alert-danger" ng-show="authenticationError">
    Authentication failed (Error {{authenticationError.status}}: {{authenticationError.message}}).
    Try again.
  </div>

  <form name="authForm" novalidate>
    <p class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" class="form-control" ng-model="username" required>
    </p>

    <p class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" ng-model="password" required>
    </p>

    <p class="text-center">
      <button type="button" class="btn btn-primary" ng-disabled="authForm.$invalid" ng-click="authenticate(username, password)">Log In</button>
    </p>

  </form>
</div>
