<div ng-controller="ordersCtrl">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>Value</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="order in orders">
        <td>{{order.name}}</td>
        <td>{{order.city}}</td>
        <td>{{calcTotal(order) | currency}}</td>
        <td><button type="button" name="button" class="btn btn-primary btn-xs" ng-click="selectOrder(order)">Details</button></td>
      </tr>
    </tbody>
  </table>

  <div ng-show="selectedOrder">
    <h3>Order Details</h3>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <td>Name</td>
          <td>Count</td>
          <td>Price</td>
          <td>Sub Total</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in selectedOrder.products">
          <td>{{item.name}}</td>
          <td>{{item.count}}</td>
          <td>{{item.price | currency}}</td>
          <td>{{item.count * item.price | currency}}</td>
        </tr>
        <tr>
          <td colspan="3">
            <strong>Total</strong>
          </td>
          <td colspan="1">
            {{fullTotal | currency}}
          </td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
