<div class="productView">
  <div ng-controller="productCtrl">
    <table id="productTable" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Category</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in products" ng-hide="item.id === editedProduct.id">
          <td>{{item.name}}</td>
          <td class="description">{{item.description}}</td>
          <td>{{item.category}}</td>
          <td>{{item.price | currency}}</td>
          <td>
            <button type="button" name="button" ng-click="startEdit(item)" class="btn btn-xs btn-primary">Edit</button>
            <button type="button" name="button" ng-click="deleteProduct(item)" class="btn btn-xs btn-primary">Delete</button>
          </td>
        </tr>
        <tr ng-class="{danger: editedProduct}">
          <td><input type="text" name="name" ng-model="editedProduct.name" required></td>
          <td><input type="text" name="description" ng-model="editedProduct.description" required></td>
          <td><input type="text" name="category" ng-model="editedProduct.category" required></td>
          <td><input type="text" name="price" ng-model="editedProduct.price" required></td>
          <td>
            <button type="button" ng-hide="editedProduct.id" ng-click="createProduct(editedProduct)" class="btn btn-xs btn-primary">Create</button>
            <button type="button" ng-hide="!editedProduct.id" ng-click="updateProduct(editedProduct)" class="btn btn-xs btn-primary">Save</button>
            <button type="button" ng-click="cancelEdit()" class="btn btn-xs btn-primary">Cancel</button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
