<div class="lead">
  <h2>Your cart</h2>
  <div class="" ng-controller="cartSummaryController">
    <div class="alert alert-warning" ng-show="cartData.length == 0">
      There are no products in your shopping cart.
      <a href="#/" class="alert-link">Return to catalogue</a>
    </div>
    <div ng-hide="cartData.length == 0">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th class="text-rigth">Price</th>
            <th class="text-rigth">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in cartData">
            <td class="text-center">{{item.count}}</td>
            <td class="text-left">{{item.name}}</td>
            <td class="text-right">{{item.price | currency}}</td>
            <td class="text-right">{{item.price * item.count | currency}}</td>
            <td>
              <button type="button" name="button" class="btn btn-danger" ng-click="remove(item.id)">Remove</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="text-right" colspan="3">Total</td>
            <td class="text-right">{{total() | currency}}</td>
          </tr>
        </tfoot>
      </table>

      <div class="text-center">
        <a href="#/products" class="btn btn-primary">Continue shopping</a>
        <a href="#/placeorder" class="btn btn-primary">Place order now</a>
      </div>

    </div>
  </div>
</div>
<a href="#/" class="btn btn-primary">Back</a>
