<div class="placeOrder">
  <h2>Checkout Now</h2>
  <p>Please enter your details , and we'll ship your goods right away!</p>
  <form name="shippingForm" novalidate>
    <div class="well">
      <h3>Ship to</h3>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" ng-model="data.shipping.name" required>
        <span class="error" ng-show="shippingForm.name.$error.required">Please enter a name</span>
      </div>

      <h3>Address</h3>
      <div class="form-group">
        <label for="street">Street Address</label>
        <input type="text" name="street" class="form-control" ng-model="data.shipping.street" required>
        <span class="error" ng-show="shippingForm.street.$error.required">Please enter a street address</span>
      </div>

      <div class="form-group">
        <label for="city">City</label>
        <input type="text" name="city" class="form-control" ng-model="data.shipping.city" required>
        <span class="error" ng-show="shippingForm.city.$error.required">Please enter a city</span>
      </div>

      <div class="form-group">
        <label for="state">State</label>
        <input type="text" name="state" class="form-control" ng-model="data.shipping.state" required>
        <span class="error" ng-show="shippingForm.state.$error.required">Please enter a state</span>
      </div>

      <div class="form-group">
        <label for="zip">Zip</label>
        <input type="text" name="city" class="form-control" ng-model="data.shipping.zip" required>
        <span class="error" ng-show="shippingForm.zip.$error.required">Please enter a zip</span>
      </div>

      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" name="country" class="form-control" ng-model="data.shipping.country" required>
        <span class="error" ng-show="shippingForm.country.$error.required">Please enter a country</span>
      </div>

      <h3>Options</h3>
      <div class="checkbox">
        <label for="giftwrap">
          <input type="checkbox" name="giftwrap" ng-model="data.shipping.giftwrap">
          Gift wrap thes items
        </label>
      </div>

      <div class="text-center">
        <button type="button" class="btn btn-primary" ng-disabled="shippingForm.$invalid" ng-click="sendOrder(data.shipping)">Complete Order</button>
      </div>
    </div>
  </form>
</div>
