<div class="alert alert-danger" ng-show="data.orderError">
  Error ({{data.orderError.status}}). The order could not be placed.
  <a href="#/placeorder" class="alert-link">Try again</a>
</div>

<div class="well" ng-hide="data.orderError">
  <h2>Thanks!</h2>
  <p>
    Thanks for placing your order. We'll ship your goods as soon as possible.
    If you need contact us, use reference {{data.orderId}}
  </p>
</div>
