<user-avatar uuid="{{senderUuid}}" />
<span class="title">Anonymus Robot#{{ senderUiid }}</span>
<p>
<i class="prefix mdi-action-alarm"></i>
 {{ date | date:"MM/dd/yyy 'at' h:mma"}}<br>
 {{ content }}
</p>
