<div class="col-sm-2" id="description-panel" ng-include="'partials/descriptionPanel.html'"></div>
<div class="col-sm-7" id="exercise-pane">
  <div class="row workout-content">
    <div class="workout-display-div">
      <h4>Workout Remaining <br> {{workoutTimeRemaining | secondsToTime}} </h4>
      <h1>{{currentExercise.details.title}}</h1>
      <img ng-src="{{currentExercise.details.image}}" class="image-responsive" />
      <div class="progress time-progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="{{currentExercise.duration}}" ng-style="{'width': (currentExerciseDuration/currentExercise.duration) * 100 + '%'}">
        </div>
      </div>
      <div class="row">
        <h3 class="col-sm-6 text-left">Time Remaining: {{currentExercise.duration-currentExerciseDuration}}</h3>
        <h3 class="col-sm-6 text-right" ng-if="currentExercise.details.name == 'rest'">Next up: <strong>{{workoutPlan.exercises[0].details.title}}</strong></h3>
      </div>
      <h2>Time Remaining: {{currentExercise.duration - currentExerciseDuration}}</h2>
    </div>
  </div>
</div>

<script type="text/ng-template" id="video-panel.html">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Videos</h3>
    </div>
    <div class="panel-body">
      <div ng-repeat="video in currentExercise.details.related.videos track by $index">
        <iframe src="{{video}}" width="330" height="220" frameborder="0" allowfullscreen></iframe>
        {{$index}}
      </div>
    </div>
  </div>
</script>
<div class="col-sm-3" id="video-panel" ng-include="'video-panel.html'"></div>
