<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ChatApp - PubNub</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/angular.ng-notify/0.8.0/ng-notify.min.css" />
    <link rel="stylesheet" href="styles/chat.css" />
  </head>
  <body ng-app="chatApp" ng-controller="ChatCtrl">
    <!-- {{avatarUrl(uuid)}}<br> -->

    <ul class="collection">
      <li class="collection-item avatar" ng-repeat="message in messages">
        <!-- <img src="{{1+4 }}" alt="{{message.sender_uuid}}" /> -->
        <img src="{{avatarUrl(uuid)}}" alt="{{message.sender_uuid}}" class="circle" />
        <span class="title">Anonymus Robot #{{ message.sender_uuid }}</span>
        <p>
          <i class="prefix mdi-action-alarm">
            <span class="message-date">{{ message.date | date:"MM/dd/yyyy 'at' h:mma" }}</span>
          </i>
          <br>
          {{ message.content }}
        </p>
      </li>
    </ul>

    <footer class="teal">
      <form class="container" ng-submit="sendMessage()">
        <div class="row">
          <div class="input-field col s10">
            <i class="prefix mdi-communication-chat"></i>
            <input type="text" ng-model="messageContent" placeholder="Type you message my friend">
            <span class="chip left">
              <!-- <img src="{{avatarUrl(uuid)}}" alt="{{avatarUrl(uuid)}}" /> -->
              <img src="{{avatarUrl(uuid)}}" alt="{{avatarUrl(uuid)}}" />
              Anonymus Robot #{{uuid}}
            </span>
          </div>
          <div class="input-field col s2">
            <button type="submit" class="waves-effect waves-light btn-floating btn-large">
              <i class="mdi-content-send"></i>
            </button>
          </div>
        </div>
      </form>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js" charset="utf-8"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.js" charset="utf-8"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script src="https://cdn.pubnub.com/pubnub-3.7.21.js"></script>
    <script src="https://cdn.pubnub.com/sdk/pubnub-angular/pubnub-angular-3.1.1.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.12.0/lodash.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/angular.ng-notify/0.8.0/ng-notify.min.js"></script>

    <script src="app.js" charset="utf-8"></script>
    <script src="app.routes.js" charset="utf-8"></script>
    <script src="app.config.js" charset="utf-8"></script>

    <script src="services/current_user.service.js"></script>

    <script src="services/message-factory.js"></script>

    <script src="shared/user-avatar.directive.js"></script>
    <script src="components/message-form/message-form.directive.js"></script>
    <script src="components/message-list/message-list.directive.js"></script>
    <script src="components/message-item/message-item.directive.js"></script>

    <script type="text/javascript">
    angular
.module('chatApp', ['pubnub.angular.service'])

.controller('ChatCtrl', ['$scope', 'Pubnub', function($scope, Pubnub) {
    $scope.messages = [];
    $scope.channel = 'messages-channel';

    $scope.messageContent = '';
    // Generating a random uuid between 1 and 100 using utility function from lodash library.
    $scope.uuid = _.random(1000000).toString();

    // Please signup to PubNub to use your own keys: https://admin.pubnub.com/
    Pubnub.init({
        publish_key: 'pub-c-a1cd7ac1-585e-478e-925b-65d17ce62f7d',
        subscribe_key: 'sub-c-204f063e-c559-11e5-b764-02ee2ddab7fe',
        ssl: true,
        uuid: $scope.uuid
    });

    // Fetching a uniq random avatar from the robohash.org service.
    $scope.avatarUrl = function(uuid) {
        return '//robohash.org/' + uuid + '?set=set2&bgset=bg2&size=70x70';
    };

    // Send the messages over PubNub Network
    $scope.sendMessage = function() {
       // Don't send an empty message
       if (!$scope.messageContent ||
            $scope.messageContent === '') {
            return;
        }
        Pubnub.publish({
            channel: $scope.channel,
            message: {
                content: $scope.messageContent,
                sender_uuid: $scope.uuid,
                date: new Date()
            },
            callback: function(m) {
                // console.log(m);
            }
        });
        // Reset the messageContent input
        $scope.messageContent = '';

    }

    // Subscribe to messages channel
    Pubnub.subscribe({
        channel: $scope.channel,
        triggerEvents: ['callback']
    });

    // Make it possible to scrollDown to the bottom of the messages container
    $scope.scrollDown = function(time) {
        var $elem = $('.collection');
        $('body').animate({
            scrollTop: $elem.height()
        }, time);
    };

    // Listenning to messages sent.
    $scope.$on(Pubnub.getMessageEventNameFor($scope.channel), function(ngEvent, m) {
        $scope.$apply(function() {
            $scope.messages.push(m)
        });
        $scope.scrollDown(400);
    });
}]);
    </script>
  </body>
</html>
