body{
  /*background-color: rgb(225, 234, 237);*/
}
ul.collection{
  width: 100%;
  position: fixed;
  overflow: auto;
  bottom: 10em;
  top: 0;
  margin-bottom:1px;
  margin-top: 0;
}

footer{
  color: white;
  position: fixed;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10em
}
