<div class="message-form">
<form class="container" ng-submit="sendMessage()">
  <div class="row">
    <div class="input-field col s10">
      <i class="prefix mdi-communication-chat"></i>
      <input type="text" ng-model="messageContent" placeholder="Type your message">
      <span class="chip left">
        <user-avatar uuid="{{uuid}}">Anonymus Robot #{{uuid}}</user>
      </span>
    </div>
    <div class="input-field col s2">
      <button type="submit" class="waves-effect waves-light btn-floating btn-large">
        <i class="mdi-content--send"></i>
      </button>
    </div>
  </div>
</form>
</div>
