/* cartSummary */
.cartSummary .navbar-right{
  float: right!important;
  margin-right: 0.5em;
}
.cartSummary .navbar-text{
  margin-right: 1em;
}

/* placeOrder  */
.placeOrder .ng-invalid{
  background-color: lightpink;
}
.placeOrder .ng-valid{
  background-color: lightgreen;
}
.placeOrder span.error{
  color: red;
  font-weight: bold;
}

/* products Admin*/
.productView #productTable{
  width: auto;
}
.productView #productTable td{
  max-width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.productView #productTable input{
  max-width: 125px;
}
