<!DOCTYPE html>
<html ng-app="sportsStore">
  <head>
    <meta charset="utf-8">
    <title>sportsStore</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body ng-controller="sportsStoreCtrl">

    <div class="navbar navbar-inverse">
      <h1></h1>
      <a href="#" class="navbar-brand">Sports Store</a>
      <cart-summary />
    </div>

    <div class="alert alert-danger" ng-show="data.error">
      Error ({{data.error.status}}). The product data was not loaded.
      <a href="/app.html" class="alert-link">Click here to try again</a>
    </div>

    <!-- Si el string de la plantilla no se refiere a una variable del scope
        hay que encerrar el string dentro de comillas simples y luego dobles "'plantilla.html'"
   -->
    <!-- <ng-include src="'views/productsList.html'"></ng-include> -->
    <!-- <div ng-include="'views/productsList.html'"></div> -->

    <!-- <div ng-include="productsList"></div> -->
    <ng-view />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.js" charset="utf-8"></script>
    <script type="text/javascript">
      angular.module('sportsStore', ["customFilters", "cart", "ngRoute"])
      .config(function($routeProvider){

        $routeProvider.when("/complete", {
          templateUrl: "views/thankYou.html"
        });

        $routeProvider.when("/placeorder", {
          templateUrl: "views/placeOrder.html"
        });

        $routeProvider.when("/checkout", {
          templateUrl: "views/checkoutSummary.html"
        });

        $routeProvider.when("/products", {
          templateUrl: "views/productsList.html"
        });

        $routeProvider.otherwise({
          templateUrl: "views/productsList.html"
        });
      })
      ;
    </script>
    <script src="controllers/sportsStore.js" charset="utf-8"></script>
    <script src="filters/customFilters.js" charset="utf-8"></script>
    <script src="controllers/productListControllers.js" charset="utf-8"></script>
    <script src="components/cart/cart.js" charset="utf-8"></script>
    <script src="controllers/checkoutControllers.js" charset="utf-8"></script>
  </body>
</html>
