<div class="cartSummary">
  <div class="navbar-right">
    <div class="navbar-text">
      <strong>Your Cart:</strong>
      {{ itemCount() }} items,
      {{ total() | currency }}
    </div>
    <a href="#/checkout" class="btn btn-default navbar-btn">Checkout</a>
  </div>
</div>
